.about {
    padding-top: 182px;
    background: $granny-smith;
    display: flex;
    flex-direction: row;
    &__container {
        position: relative;
        &-text {
            width: 50%
        }
        &-description {
            position: relative;
            img {
                position: absolute;
                left: 110%;
                top: 61px ;
                min-width: 360px;
                max-width: 450px;
                border: 50px solid $stark-white;
                box-shadow: 0 0 100px darken($granny-smith, 5);
            }
        }
    }
}