.contact {
    padding-bottom: 100px;
    &__locate-me {
        display: flex;
        flex-direction: column;
        &-card {
            text-align: center;
            display: flex;
            flex-direction: column;
            i, a {
                padding: 10px 0;
            }
        }
        .myForm {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            input, textarea {
                background: none;
                border: none;
                border-bottom: 2px solid $big-stone;
                margin-bottom: 30px; 
                transition: 0.3s all;
                padding: 20px 20px;
                resize: none;
                border-radius: 0;
                &:hover, &:focus {
                    border-bottom: 2px solid $urobilin;
                }
            }
            button {
                border-top-left-radius: 20px;
                border-bottom-right-radius: 20px;
                align-self: center;
                margin-top: 10px;
                padding: 18px 30px;
            }
        }
    }
}