.skills {
    padding: 150px 0;
    &__list {
        text-align: center;
        padding-left: 0;
        color: $rose-fog;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        li {
            float: left;
            margin: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 120px;
            border: 1px solid $rose-fog;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        svg {
            width: 60px;
            fill: $rose-fog;
        }
    }
}