.header {
    color: $big-stone;

    &__topbar {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 800px) {
            background: linear-gradient(to bottom, rgba(242, 229, 215, 1) 0%, rgba(242, 229, 215, 0) 100%);
        }

        &-name-home {
            font-family: $headings;
            font-size: 3rem;
            color: $stark-white;
            padding-left: 45px;

            @media (max-width: 800px) {
                padding-left: 0;
            }

            h2 {
                background: $mahogany;
                margin: 0;
                padding: 3px 15px;
                transition: 0.3s;
            }

            h2:hover,
            h2:focus {
                background: $granny-smith;
            }
        }

        &-nav {
            font-family: $headings;
            text-transform: uppercase;
            align-self: flex-end;

            &-list {
                a {
                    color: $big-stone;
                    font-size: 1.4rem;
                    font-weight: 700;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    transition: all 0.2s ease-in-out;
                    position: relative;

                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: -10px;
                        width: 0px;
                        height: 5px;
                        margin: 5px 0 0;
                        transition: all 0.2s ease-in-out;
                        transition-duration: 0.75s;
                        opacity: 0;
                    }

                    &:after {
                        left: 0;
                        background-color: $mahogany;
                    }

                    &:hover {
                        cursor: pointer;

                        &:before,
                        &:after {
                            width: 100%;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &__hero {

        &-text,
        &-description {
            text-shadow: 0 0 100px $stark-white;
        }

        &-text {
            color: $big-stone;
            font-family: $headings;
            font-size: 9rem;
            font-weight: 700;
            padding-left: 20px;
            text-transform: uppercase;
            letter-spacing: 1px;

            @media (max-width: 575px) {
                & {
                    font-size: 12vw;
                }
            }
        }

        &-description {
            color: $big-stone;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 34px;
            background: lighten($urobilin, 15);
            padding: 12px 12px 12px 26px;

            @media (max-width: 500px) {
                font-size: 1.2rem;
            }
        }

        &-jumpto {
            font-family: $headings;
            width: 180px;
            padding: 18px 18px 18px 22px;
            text-transform: uppercase;
            font-size: 1.8rem;
            font-family: $headings;
            font-weight: 700;
            border: 2px solid $mahogany;
            background: $mahogany;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            text-align: left;
            color: $stark-white;
            transition: 0.3s;
            letter-spacing: 1px;

            @media (max-width: 320px) {
                & {
                    display: none;
                }
            }
        }

        &-jumpto:hover,
        &-jumpto:focus {
            background: $granny-smith;
            color: $stark-white;
            border: 2px solid $granny-smith;
            text-shadow: none;
        }
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.about {
    position: relative;
    z-index: 1;

    &__container {
        z-index: 10;

        &-text {
            h3 {
                position: relative;
                font-family: $headings;
                margin: 0;
                color: $stark-white;
                font-size: 5.8rem;
                font-weight: 700;
                line-height: 72px;
            }

            h3:before {
                content: '';
                position: absolute;
                width: 145px;
                height: 2px;
                background: $stark-white;
                right: 90%;
                bottom: 0;
            }

            .about__container-description {
                padding-top: 61px;
                color: $stark-white;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 28px;


                a {
                    margin-top: 49px;
                    margin-bottom: 120px;
                    display: block;
                    color: $stark-white;
                    text-transform: uppercase;
                    font-family: $headings;
                    letter-spacing: 2px;
                    font-size: 1.8rem;
                    font-weight: 700;

                    &:focus,
                    &:hover {
                        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
                        transform: translate3d(0, 0, 0);
                        backface-visibility: hidden;
                        perspective: 1000px;
                    }

                }

                p a {
                    color: $stark-white;
                    font-weight: bolder;
                    text-decoration: underline;
                    font-size: inherit;
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    text-transform: none;
                    letter-spacing: inherit;
                    font-family: "Merriweather", serif;

                    &:hover {
                        animation: none;
                    }
                }

            }
        }

    }
}

.about:before {
    content: 'about';
    position: absolute;
    color: darken($granny-smith, 5);
    font-family: $headings;
    font-size: 38rem;
    bottom: -13px;
    left: 0;
    z-index: -1;
    line-height: 0.8;

    @media (max-width: 1195px) {
        & {
            font-size: 30vw;
            bottom: 0;
        }
    }
}

.skills {
    &__list {
        font-size: 8rem;

        @media (max-width: 359px) {
            & {
                font-size: 6rem;
            }
        }
    }
}

.section-heading {
    position: relative;
    font-family: $headings;
    color: $big-stone;

    h3 {
        font-size: 5.8rem;
        font-weight: 700;
        text-align: center;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 110px;
        height: 1px;
        background: $big-stone;

        @media (max-width: 617px) {
            display: none;
        }
    }

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 110%;
        transform: translateX(-50%);
        width: 40px;
        height: 2px;
        background: $big-stone;
    }
}

.portfolio {
    &__container {
        &-card-text {
            font-family: $headings;

            h4 {
                text-transform: uppercase;
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 30px;
                color: $big-stone;
                margin: 0;
                letter-spacing: 1px;
            }

            h5 {
                color: $rose-fog;
                font-size: 1.4rem;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 30px;
                margin: 0;
                letter-spacing: 1px;
            }

            p {
                font-size: 1.4rem;
                padding: 20px 0;
                font-family: $main-text;
                line-height: 28px;
                margin: 0;

                a {
                    color: $granny-smith;
                    transition: 0.3s;

                    &:hover,
                    &:focus {
                        color: $urobilin;
                    }
                }
            }

            h6 {
                margin: 0 0 30px 0;
                color: lighten($mahogany, 20);
                letter-spacing: 1px;
                font-size: 1rem;
            }

            &-link {
                margin-top: 15px;

                a {
                    font-family: $headings;
                    width: 210px;
                    padding: 10px;
                    margin-right: 10px;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    font-family: $headings;
                    font-weight: 700;
                    border: 2px solid $big-stone;
                    border-top-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    text-align: center;
                    color: $big-stone;
                    transition: 0.3s;
                    letter-spacing: 1px;

                    &:hover,
                    &:focus {
                        background: $urobilin;
                        color: #fbf9f4;
                        border: 2px solid $urobilin;
                    }

                    @media (max-width: 360px) {
                        font-size: 1rem;
                    }

                    @media (max-width: 291px) {
                        display: block;
                        margin: 10px auto;
                    }
                }
            }
        }
    }
}

.contact {
    &__locate-me-card {
        font-family: $headings;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 1px;

        i {
            font-size: 3.5rem;
            color: $granny-smith;
        }

        a {
            color: $big-stone;
            transition: 0.3s all;

            &:hover,
            &:focus {
                color: $granny-smith;
            }
        }

        @media (max-width: 492px) {
            & {
                font-size: 1.1rem;

                i {
                    font-size: 2rem;
                }
            }
        }

    }

    form {

        input,
        textarea {
            background: none;
            font-family: $main-text;
            color: $big-stone;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 28px;
        }

        button {
            font-family: $headings;
            text-transform: uppercase;
            color: #fbf9f4;
            font-size: 1.8rem;
            font-weight: 700;
            background: $big-stone;
            transition: 0.3s all;
            letter-spacing: 2px;
            border: none;

            &:focus,
            &:hover {
                background: $mahogany;
            }

            @media (max-width: 492px) {
                font-size: 1.4rem;
            }
        }

    }
}