.header {
    color: $big-stone;
    &__nav {
        font-family: $headings;
        text-transform: uppercase;
        &-name-home {
            font-size: 3rem;
            color: $stark-white;
            h2 {
                background: $mahogany;
                margin: 0;
                padding: 3px 15px;
                transition: 0.3s;
            }
            h2:hover, h2:focus {
                background: $granny-smith;
            }
        }
        &-list {
            a {
                color: $big-stone;
                font-size: 1.4rem;
                font-weight: 700;
            }
        }
        &:hover {

        }
    }
    &__hero {
        &-text, &-description {
            text-shadow: 0 0 100px $stark-white;
        }
        &-text {
            color: $big-stone;
            font-family: $headings;
            font-size: 9rem;
            font-weight: 700;
            padding-left: 20px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        &-description {
            color: $big-stone;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 34px;
            background: lighten($urobilin, 15);
            padding: 12px;
        }
        &-jumpto {
            font-family: $headings;
            width: 210px;
            padding: 18px;
            text-transform: uppercase;
            font-size: 1.8rem;
            font-family: $headings;
            font-weight: 700;
            border: 2px solid $big-stone;
            background: linear-gradient( rgba($stark-white, 0.5), rgba($stark-white, 0.5));
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            text-align: center;
            color: $big-stone;
            transition: 0.3s;
            letter-spacing: 1px;
        }
        &-jumpto:hover, &-jumpto:focus {
            background: $mahogany;
            color: $stark-white;
            border: 2px solid $mahogany;
            text-shadow: none;
        }
    }
}

.about {
    position: relative;
    z-index: 1;
    &__container {
        z-index: 10;
        &-text {
            h3 {
                position: relative;
                font-family: $headings;
                margin: 0;
                color: $stark-white;
                font-size: 5.8rem;
                font-weight: 700;
                line-height: 72px;
            }
            h3:before {
                content: '';
                position: absolute;
                width: 145px;
                height: 2px;
                background: $stark-white;
                right: 90%;
                bottom: 0;
            }
            .about__container-description {
                padding-top: 61px;
                color: $stark-white;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 28px;
                a {
                    margin-top: 49px;
                    margin-bottom: 120px;
                    display: block;
                    color: $stark-white;
                    text-transform: uppercase;
                    font-family: $headings;
                    letter-spacing: 2px;
                    font-size: 1.8rem;
                    font-weight: 700;
                }
            }
        }

    }
}
.about:before {
    content: 'about';
    position: absolute;
    color: darken($granny-smith,5);
    font-family: $headings;font-size: 40rem;
    bottom:-14px; ;
    left: 0;
    z-index: -1;
    line-height: 0.8;
}

.skills {
    &__list {
        font-size: 8rem;
    }
}

.section-heading {
    position: relative;
    font-family: $headings;
    font-size: 5.8rem;
    font-weight: 700;
    text-align: center;
    color: $big-stone;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 110px;
        height: 1px;
        background: $big-stone;
    }
    &:after {
        content: '';
        position: absolute;
        left:50%;
        top: 110%;
        transform: translateX(-50%);
        width: 40px;
        height: 2px;
        background: $big-stone;
    }
}

.portfolio {
    &__container {
        &-card-text {
            font-family: $headings;
            h4 {
                text-transform: uppercase;
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 30px;
                color: $big-stone;
                margin: 0;
                letter-spacing: 1px;
            }
            h5 {
                color: $rose-fog;
                font-size: 1.4rem;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 30px;
                margin: 0;
                letter-spacing: 1px;
            }
            p {
                font-size: 1.4rem;
                padding: 20px 0;
                font-family: $main-text;
                line-height: 28px;
                margin: 0;
                a {
                    color: $granny-smith;
                    transition: 0.3s;
                    &:hover, &:focus {
                        color: $urobilin;
                    }
                }
            }
            h6 {
                margin: 0 0 30px 0;
                color: lighten($mahogany, 20);
                letter-spacing: 1px;
                font-size: 1rem;
            }
            &-link {
                margin-top: 15px;
                a {
                    font-family: $headings;
                    width: 210px;
                    padding: 10px;
                    margin-right: 10px;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    font-family: $headings;
                    font-weight: 700;
                    border: 2px solid $big-stone;
                    border-top-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    text-align: center;
                    color: $big-stone;
                    transition: 0.3s;
                    letter-spacing: 1px;     
                    &:hover, &:focus {
                        background: $urobilin;
                        color: #fbf9f4;
                        border: 2px solid $urobilin;
                    }        
                }
            }
        }
    }
}

.contact {
    &__locate-me-card {
        font-family: $headings;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 1px;
    }
    form {
        input, textarea {
            background: none;
            font-family: $main-text;
            color: $big-stone;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 28px;
        }
    }
}