$big-stone: #162937;
$granny-smith: #789587;
$rose-fog: #e3c1b0;
$mahogany: #cc5142;
$urobilin: #ebb01d;
$stark-white: #E9D7BF;

//FONTS
$headings: 'Montserrat', sans-serif;
$main-text: 'Merriweather', serif;
