@import 'setup';
@import 'utils';
@import 'typography';
@import 'header';
@import 'about';
@import 'skills';
@import 'projects';
@import 'contact';
@import 'footer';

//GLOBAL STYLES

html {
    font-size: 62.5%;
    font-family: $main-text;
}

body {
    background: lighten($stark-white, 15);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.wrapper {
    max-width: 1170px;
    width: 70%;
    margin: 0 auto;

    @media (max-width:1023px) {
        width: 76vw;
    }
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skip-link:focus {
    left: 0;
}